body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2; /* Cor de fundo padrão */
}

.container {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: #fff; /* Cor de fundo padrão da div */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; /* Cor do texto padrão */
}

.content {
    margin-top: 20px;
    color: #333; /* Cor do texto padrão */
}

.gif {
  width: 500px;
  height: auto;
}

.toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#theme-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#theme-toggle:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#theme-toggle:focus,
#theme-toggle:active {
    outline: none;
}

#theme-toggle.dark-mode-slide {
    transform: translateX(-100px); /* Desliza o botão para a esquerda */
}

.sun-icon {
    color: #FFD700; /* Cor do ícone do sol */
    margin-right: 5px;
}

.moon-icon {
    color: #A9A9A9; /* Cor do ícone da lua */
}

/* Estilos para o modo escuro */
.dark-mode {
    background-color: #333; /* Cor de fundo para o modo escuro */
}

/* Estilos para o brilho ao focar no botão */
#theme-toggle:focus,
#theme-toggle:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2), 0 0 10px rgba(241, 206, 4, 0.5); /* Brilho ao focar na linha */
}



/*Formatação do Menu suspenso*/
#left-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f2f2f2;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    transition: width 0.3s;
    width: 80px;
  }

  /*Botão p/ o submenu*/
#menu-button {
    background-color: #337ab7;
    color: white;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .menu-line {
    background-color: white;
    height: 2px;
    width: 70%;
    margin: 5px auto;
  }
  
  /*Sub Menu*/
  #submenu {
    display: none;
    position: absolute;
    top: 70px;
    left: 75%;
    transform: translateX(-100%);
    background-color: #f9f9f9;
    border: 4px solid #ccc;
    border-radius: 10px;
    padding: 2px;
    width: 100px;
    height: 540px;
  }
  
  #submenu ul {
    list-style: none;
    padding: 0;
    margin: 10;
  }
  
  #submenu li {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  /*Imagem da IA*/
  #submenu a img {
    position: absolute;
    bottom: 10px; /* Distância do fundo da div */
    left: 0;
    right: 0;
    margin: auto; /* Centraliza horizontalmente */
    width: 90px;
    height: auto;
  }
  
  #submenu a {
    text-decoration: none;
    color: #333;
    display: block;
  }